In [1]:
from mt_eligibility.load import load_and_combine_csvs

# Load all data

In [ ]:
csv = load_and_combine_csvs(["master", "data_split"])
csv.head()

,ID,Age,Sex,NIHSS,LKWT,LVO,MT,Dataset
0,36aa9c237f40b8a3c78b0fc2d0efabc0,64,Male,14,0.900000,False,False,train
1,0846f0aa92510261fc9a43753c9200e9,78,Female,5,4.550000,True,False,train
2,a7d5017833ac10e3ce5e0c4200a10bb8,36,Female,6,3.033333,True,True,train
3,87466cdef2e6832055c41559bcb059c4,105,Female,18,13.633333,True,False,train
4,d8ee8882764de37287536521e6861577,93,Male,19,6.666667,True,True,train

# Train-Test distribution

In [ ]:
csv["Dataset"].value_counts().sort_index()

Dataset
test     130
train    130
Name: count, dtype: int64

# MT Eligibility Distribution

In [ ]:
csv[["Dataset", "MT"]].value_counts().sort_index()

Dataset  MT
test     False    50
         True     80
train    False    50
         True     80
Name: count, dtype: int64

# Age distribution

In [ ]:
csv.groupby(["Dataset"])["Age"].describe()

         count       mean        std   min    25%   50%    75%    max
Dataset
test     130.0  67.376923  14.187704  33.0  59.25  67.5  77.00   97.0
train    130.0  66.438462  17.007980  20.0  57.00  68.0  77.75  105.0

In [ ]:
csv.groupby(["Dataset", "MT"])["Age"].describe()

               count     mean        std   min    25%   50%    75%    max
Dataset MT
test    False   50.0  69.5600  13.398386  33.0  61.00  69.0  77.50   97.0
        True    80.0  66.0125  14.575420  34.0  56.75  67.0  77.00   91.0
train   False   50.0  63.8400  19.645179  20.0  55.00  67.0  75.75  105.0
        True    80.0  68.0625  15.034428  23.0  58.50  68.5  78.00   94.0

# Sex distribution

In [ ]:
csv[["Dataset", "Sex"]].value_counts().sort_index()

Dataset  Sex
test     Female    69
         Male      61
train    Female    56
         Male      74
Name: count, dtype: int64

In [ ]:
csv[["Dataset", "MT", "Sex"]].value_counts().sort_index()

Dataset  MT     Sex
test     False  Female    29
                Male      21
         True   Female    40
                Male      40
train    False  Female    21
                Male      29
         True   Female    35
                Male      45
Name: count, dtype: int64

# NIHSS Distribution

In [ ]:
csv.groupby(["Dataset"])["NIHSS"].describe()

         count       mean       std  min   25%   50%    75%   max
Dataset
test     130.0  11.746154  7.959502  0.0  5.00  11.5  18.00  31.0
train    130.0  11.246154  6.626306  0.0  6.25  12.0  15.75  34.0

In [ ]:
csv.groupby(["Dataset", "MT"])["NIHSS"].describe()

               count    mean       std  min    25%   50%   75%   max
Dataset MT
test    False   50.0   8.100  8.038809  0.0   2.00   5.0  15.5  25.0
        True    80.0  14.025  7.049508  2.0   8.00  14.0  18.0  31.0
train   False   50.0   7.880  6.665905  0.0   2.25   6.0  14.0  24.0
        True    80.0  13.350  5.699434  0.0  10.00  14.0  17.0  34.0

# LKWT distribution

In [ ]:
csv["LKWT < 6"] = csv.LKWT < 6

In [ ]:
csv[["Dataset", "LKWT < 6"]].value_counts().sort_index()

Dataset  LKWT < 6
test     False       41
         True        89
train    False       56
         True        74
Name: count, dtype: int64

In [ ]:
csv[["Dataset", "MT", "LKWT < 6"]].value_counts().sort_index()

Dataset  MT     LKWT < 6
test     False  False       17
                True        33
         True   False       24
                True        56
train    False  False       21
                True        29
         True   False       35
                True        45
Name: count, dtype: int64