In [1]:
from mt_eligibility.load import load_and_combine_csvs

# Load data

In [2]:
csv = load_and_combine_csvs()
csv.head()

,ID,Age,Sex,NIHSS,LKWT,LVO,MT,qER Infarct Decision,qER Infarct Volume,qER ASPECTS,Rad1 Infarct,Rad2 Infarct,Rad3 Infarct,Rad4 Infarct,Dataset
0,36aa9c237f40b8a3c78b0fc2d0efabc0,64,Male,14,0.900000,False,False,1,148.081945,1,True,True,False,False,train
1,0846f0aa92510261fc9a43753c9200e9,78,Female,5,4.550000,True,False,0,0.000000,10,False,False,False,False,train
2,a7d5017833ac10e3ce5e0c4200a10bb8,36,Female,6,3.033333,True,True,0,0.000000,10,False,False,False,False,train
3,87466cdef2e6832055c41559bcb059c4,105,Female,18,13.633333,True,False,0,0.000000,10,False,False,True,False,train
4,d8ee8882764de37287536521e6861577,93,Male,19,6.666667,True,True,0,0.000000,10,False,True,False,False,train

# Add new columns

In [3]:
csv["Group"] = "No LVO"
csv.loc[csv["LVO"], "Group"] = "LVO but MT ineligible"
csv.loc[csv["LVO"] & csv["MT"], "Group"] = "LVO and MT eligible"

csv["Group"].value_counts().sort_index()

Group
LVO and MT eligible      160
LVO but MT ineligible     30
No LVO                    70
Name: count, dtype: int64

# Perform analysis

### Counts

In [4]:
for i in range(1, 5):
    display(csv[["Group", f"Rad{i} Infarct"]].value_counts().sort_index())

Group                  Rad1 Infarct
LVO and MT eligible    False           147
                       True             13
LVO but MT ineligible  False            23
                       True              7
No LVO                 False            66
                       True              4
Name: count, dtype: int64

Group                  Rad2 Infarct
LVO and MT eligible    False           126
                       True             34
LVO but MT ineligible  False            20
                       True             10
No LVO                 False            55
                       True             15
Name: count, dtype: int64

Group                  Rad3 Infarct
LVO and MT eligible    False           150
                       True             10
LVO but MT ineligible  False            26
                       True              4
No LVO                 False            65
                       True              5
Name: count, dtype: int64

Group                  Rad4 Infarct
LVO and MT eligible    False           152
                       True              8
LVO but MT ineligible  False            24
                       True              6
No LVO                 False            69
                       True              1
Name: count, dtype: int64

In [5]:
csv[["Group", "qER Infarct Decision"]].value_counts().sort_index()

Group                  qER Infarct Decision
LVO and MT eligible    0                       120
                       1                        40
LVO but MT ineligible  0                        12
                       1                        18
No LVO                 0                        60
                       1                        10
Name: count, dtype: int64